.container{
    background-color: rgb(160, 5, 5);
    width: 50vw;
    height: 40vh;
}

.box{
    background-color: rgb(132, 226, 226);
    width: 7vw;
    height: 5vh;
}

.tr{
    /* transform: translateX(10vw) translateY(10vh); */
    transition: transform .6s ease 2s , background-color .6s ease 2s;
}
.tr:hover{
    transform: translateX(10vw) translateY(10vh);
    background-color: rgb(174, 119, 226);
}