*{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.top-head{
    /* display: inline-flex; */
    background-color: black;
    width: 100vw;
    height: 7vh;
    color: white;
    list-style-type: none;
}
.header-nav{
    display: flex;
    justify-content: center;
}
.nav-ul{
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
}
.nav-ul li{
    margin: 18px 92px;

}
.nav-ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 25px;
}
.nav-ul #id-5{
    font-size: 25px;
}
.search-label{
    font-size: 25px;
    margin: 18px 13px 24px 90px;
}
.search-input #input{
    margin: 18px 1px;
    width: 250px;
    height: 27px;
    border-radius: 150px;
}

/* MAIN BODY CSS */

.main-body{
    display: inline-flex;
    justify-content: center;
    background-color: rgb(97, 97, 168);
    width: 100vw;
    height: 85vh;

}
.main-container{
    background-color: rgb(107, 87, 223);
    
}



/* footer CSS */
.body-footer{
    background-color: black;
    width: 100vw;
    height: 8vh;
}